:root {
    --color-white: #FFF;
}

html, body, h1, h2, p, label, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* GERAL */

.hidden {
    display: none;
}

/* GERAL */

/* MODAL */
.modal{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-image: url('../img/background-modal.jpg');
    background-size: cover;
}

.modal__container{
    width: 100%;
    height: 64%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal__title{
    font-family: 'Sigmar One', cursive;
    font-size: 80px;
    color:var(--color-white);
    text-shadow: 5px 2px 2px black;
}

.modal__container-btn{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.modal__btn{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 0 2px 5px black;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
    background-image: linear-gradient(45deg, #d4066e, #960095);
    color: var(--color-white);
    cursor: pointer;
}
/* MODAL */

/* MODAL-RESULT */
.modal-result {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-white);
    position: fixed;
    z-index: 1;
}

.modadal-result__title{
    text-align: center;
    font-size: 66px;
    color: #b51b1b;
    padding-top: 20px;
}
/* MODAL-RESULT */


/* MAIN */
.container-labirinto{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0f0606;
}
.line {
    display: flex;
}

.cell {
    width: 30px;
    height: 30px;
}

.parede-map1 {
    background-color: #a01414;
}

.player{
    width: 26px;
    height: 26px;
    background-image: url('../img/pacman.gif');
    background-repeat: no-repeat;
}

.player-efect {
    position: absolute;
    height: 0;
    width: 0;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid #0f0606;
    bottom: 3px;
    left: 25px;
    transform: rotate(45deg);
}
/* MAIN */



